li {
    font-size: medium;
    list-style: circle;
    width: 200px;
    margin: auto;
    padding: 10px;
    cursor: pointer;
}

li:first-child {
    padding: 0;
    list-style: none;
}

li:hover,li.selected {
    background-color: cadetblue;
}

li:first-child:hover {
    background-color: aqua;
}

